<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BestBois - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<!--/*@thymesVar id="viewType" type="java.lang.String"*/-->
<div th:replace="fragments/layout.html :: header(authorized=${authorized}, viewType=${viewType})"></div>

<div class="container">
    <h2 class="h2">Browse Products</h2>
    <div class="container p-2">
        <div class="row">
            <div class="col-md-3 p-1" th:with="total = ${categories.totalPages}" th:each="category : ${categories}">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" th:text="${category.getCategoryName()}"></div>
                        <a type="button" class="btn btn-outline-secondary stretched-link"
                                th:href="@{/category(categoryid=${category.getCategoryID()})}">Browse
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="navigation">
                <ul class="pagination" th:with="total = ${categories.totalPages}">

                    <li th:class="${categories.hasPrevious() ? 'page-item' : 'page-item disabled'}">
                        <a title="First Page"
                           th:href="${url + '?page=0' + '&size=' + categories.getSize()}"
                           class="page-link">&laquo;</a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(paginationStart, paginationEnd)}"
                        th:class="${(page - 1) == categories.getNumber() ? 'page-item active' : 'page-item'}">
                        <a class="page-link" th:title="${'Page ' + page}" th:text="${page}"
                           th:href="${url + '?page=' + (page - 1) + '&size=' + categories.getSize()}"></a>
                    </li>

                    <li th:class="${categories.hasNext() ? 'page-item' : 'page-item disabled'}">
                        <a title="Last Page"
                           th:href="${url + '?page=' + (categories.getTotalPages() - 1) + '&size=' + categories.getSize()}"
                           class="page-link">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</body>
</html>