<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Test</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
</head>
<body>
<h1>Welcome to the Test Page</h1>

<nav>
    <ul class="pagination" th:with="total = ${items.totalPages}">
        <li th:if="${items.hasPrevious()}">
            <a th:href="@{/test(page=${items.previousPageable().pageNumber},size=${items.size})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li th:each="page : ${#numbers.sequence(0, total - 1)}"><a th:href="@{/test(page=${page},size=${items.size})}" th:text="${page + 1}">1</a></li>
        <li th:if="${items.hasNext()}">
            <a th:href="@{/test(page=${items.nextPageable().pageNumber},size=${items.size})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<ol>
    <!--/*@thymesVar id="item" type="spring.entity.Item"*/-->
    <li th:each="item, it : ${items}" th:with="index = ${it.count}" th:text="${item.name + ' - ' + item.description}" th:value="${items.number * items.size + index}">Item Name</li>
</ol>

<ol>
    <li th:each="cart : ${shoppingCart.getItems()}" th:with="index = ${cart.key}" th:text="${cart.value.getItemName() + ' x ' + cart.value.getQuantity() + ' - $' + cart.value.getPrice()}" th:value="${cart.value.getPrice().multiply(cart.value.getQuantity())}">Order Name</li>
</ol>

</body>
</html>